In [2]:
# Pandas Test
# Name - Utkrist Jaiswal
# Roll - 21051526
# Sec - CSE-36

In [3]:
import pandas as pd
df = pd.read_csv("bluegills.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'bluegills.csv'

In [ ]:
#1 How do I select a specific column in a Pandas DataFrame?
age_column = df['age']
print(age_column)

0     1
1     1
2     2
3     2
4     2
     ..
73    6
74    4
75    5
76    4
77    4
Name: age, Length: 78, dtype: int64

In [ ]:
#2 How do I filter rows in a Pandas DataFrame based on a condition?
filtered_rows = df[df['age'] > 3]
print(filtered_rows)

    age  length
17    4     138
18    4     135
19    4     146
20    4     146
21    4     145
22    4     145
23    4     144
24    4     140
25    4     150
26    4     152
27    4     157
28    4     155
29    4     153
30    4     154
31    4     158
32    4     162
33    4     161
34    4     162
35    4     165
36    4     171
37    5     171
38    4     162
39    4     169
40    4     167
41    5     188
44    4     150
46    4     170
48    4     140
49    4     140
50    4     150
51    4     150
55    4     150
56    4     160
58    4     150
59    5     170
60    4     150
61    5     150
62    4     150
63    4     150
65    5     150
66    5     160
67    4     140
68    5     160
70    4     160
72    4     170
73    6     170
74    4     160
75    5     180
76    4     160
77    4     170

In [ ]:
#3 How do I rename columns in a Pandas DataFrame?
df.rename(columns={'length': 'height'}, inplace=True)
print(df)

    age  height
0     1      67
1     1      62
2     2     109
3     2      83
4     2      91
..  ...     ...
73    6     170
74    4     160
75    5     180
76    4     160
77    4     170

[78 rows x 2 columns]

In [ ]:
#4 How do I sort a Pandas DataFrame by a specific column?
sorted_df = df.sort_values(by='age', ascending=False)
print(sorted_df)

    age  height
73    6     170
59    5     170
75    5     180
37    5     171
68    5     160
..  ...     ...
4     2      91
3     2      83
2     2     109
1     1      62
0     1      67

[78 rows x 2 columns]

In [ ]:
#5 How do I drop duplicate rows in a Pandas DataFrame?
df.drop_duplicates(inplace=True)
print(df)

    age  height
0     1      67
1     1      62
2     2     109
3     2      83
4     2      91
5     2      88
6     3     137
7     3     131
8     3     122
10    3     118
11    3     115
13    3     143
14    3     142
15    2     123
17    4     138
18    4     135
19    4     146
21    4     145
23    4     144
24    4     140
25    4     150
26    4     152
27    4     157
28    4     155
29    4     153
30    4     154
31    4     158
32    4     162
33    4     161
35    4     165
36    4     171
37    5     171
39    4     169
40    4     167
41    5     188
42    2     100
45    3     140
46    4     170
47    3     150
56    4     160
59    5     170
61    5     150
66    5     160
69    3     130
73    6     170
75    5     180

In [ ]:
#6 How do I calculate summary statistics (mean, median, etc.) for a Pandas DataFrame?
summary_stats = df.describe()
print(summary_stats)

             age      height
count  46.000000   46.000000
mean    3.565217  141.130435
std     1.088366   29.209290
min     1.000000   62.000000
25%     3.000000  130.250000
50%     4.000000  148.000000
75%     4.000000  160.750000
max     6.000000  188.000000

In [ ]:
#7 How do I add a new column to a Pandas DataFrame?
df['category'] = 'A'
print(df)

    age  height category
0     1      67        A
1     1      62        A
2     2     109        A
3     2      83        A
4     2      91        A
5     2      88        A
6     3     137        A
7     3     131        A
8     3     122        A
10    3     118        A
11    3     115        A
13    3     143        A
14    3     142        A
15    2     123        A
17    4     138        A
18    4     135        A
19    4     146        A
21    4     145        A
23    4     144        A
24    4     140        A
25    4     150        A
26    4     152        A
27    4     157        A
28    4     155        A
29    4     153        A
30    4     154        A
31    4     158        A
32    4     162        A
33    4     161        A
35    4     165        A
36    4     171        A
37    5     171        A
39    4     169        A
40    4     167        A
41    5     188        A
42    2     100        A
45    3     140        A
46    4     170        A
47    3     150        A
56    4     160        A
59    5     170        A
61    5     150        A
66    5     160        A
69    3     130        A
73    6     170        A
75    5     180        A

In [ ]:
#8 How do I group a Pandas DataFrame by one or multiple columns?
grouped_df = df.groupby('age')['height'].mean()
print(grouped_df)

age
1     64.500000
2     99.000000
3    132.800000
4    154.857143
5    169.833333
6    170.000000
Name: height, dtype: float64

In [ ]:
#9 How do I perform left, right, or outer join on two Pandas DataFrames?
data_df1 = {'age': [1, 2, 3, 4, 5],
            'height_df1': [67, 109, 137, 138, 171]}
df1 = pd.DataFrame(data_df1)

# Sample data for df2
data_df2 = {'age': [1, 2, 3, 4, 5],
            'height_df2': [62, 83, 122, 150, 180]}
df2 = pd.DataFrame(data_df2)
merged_df = pd.merge(df1, df2, on='age', how='left')

print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
   age  height_df1  height_df2
0    1          67          62
1    2         109          83
2    3         137         122
3    4         138         150
4    5         171         180

In [ ]:
#10 How do I handle missing data in a Pandas DataFrame?
df['height'].fillna(df['height'].mean(), inplace=True)
print(df)

    age  height category
0     1      67        A
1     1      62        A
2     2     109        A
3     2      83        A
4     2      91        A
5     2      88        A
6     3     137        A
7     3     131        A
8     3     122        A
10    3     118        A
11    3     115        A
13    3     143        A
14    3     142        A
15    2     123        A
17    4     138        A
18    4     135        A
19    4     146        A
21    4     145        A
23    4     144        A
24    4     140        A
25    4     150        A
26    4     152        A
27    4     157        A
28    4     155        A
29    4     153        A
30    4     154        A
31    4     158        A
32    4     162        A
33    4     161        A
35    4     165        A
36    4     171        A
37    5     171        A
39    4     169        A
40    4     167        A
41    5     188        A
42    2     100        A
45    3     140        A
46    4     170        A
47    3     150        A
56    4     160        A
59    5     170        A
61    5     150        A
66    5     160        A
69    3     130        A
73    6     170        A
75    5     180        A

In [ ]:
#11 How do I convert a Pandas DataFrame to a NumPy array?
numpy_array = df.to_numpy()
print("NumPy Array:")
print(numpy_array)

NumPy Array:
[[1 67 'A']
 [1 62 'A']
 [2 109 'A']
 [2 83 'A']
 [2 91 'A']
 [2 88 'A']
 [3 137 'A']
 [3 131 'A']
 [3 122 'A']
 [3 118 'A']
 [3 115 'A']
 [3 143 'A']
 [3 142 'A']
 [2 123 'A']
 [4 138 'A']
 [4 135 'A']
 [4 146 'A']
 [4 145 'A']
 [4 144 'A']
 [4 140 'A']
 [4 150 'A']
 [4 152 'A']
 [4 157 'A']
 [4 155 'A']
 [4 153 'A']
 [4 154 'A']
 [4 158 'A']
 [4 162 'A']
 [4 161 'A']
 [4 165 'A']
 [4 171 'A']
 [5 171 'A']
 [4 169 'A']
 [4 167 'A']
 [5 188 'A']
 [2 100 'A']
 [3 140 'A']
 [4 170 'A']
 [3 150 'A']
 [4 160 'A']
 [5 170 'A']
 [5 150 'A']
 [5 160 'A']
 [3 130 'A']
 [6 170 'A']
 [5 180 'A']]

In [ ]:
#12 How do I merge two Pandas’ DataFrames on a specific column?
data_df1 = {'age': [1, 2, 3, 4, 5],
            'height_df1': [67, 109, 137, 138, 171]}
df1 = pd.DataFrame(data_df1)

# Sample data for df2
data_df2 = {'age': [1, 2, 3, 4, 5],
            'height_df2': [62, 83, 122, 150, 180]}
df2 = pd.DataFrame(data_df2)
merged_df = pd.merge(df1, df2, on='age', how='inner')
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
   age  height_df1  height_df2
0    1          67          62
1    2         109          83
2    3         137         122
3    4         138         150
4    5         171         180

In [ ]:
#13 How do I pivot a Pandas DataFrame?
pivoted_df = df.pivot_table(index='age', columns='height', values='height', aggfunc='mean')
print("Pivoted DataFrame:")
print(pivoted_df)

Pivoted DataFrame:
Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6]

C:\Users\KIIT\AppData\Local\Temp\ipykernel_5420\3339785156.py:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  pivoted_df = df.pivot_table(index='age', columns='height', values='height', aggfunc='mean')

In [ ]:
#14 How do I read a CSV file into Pandas DataFrame?
df = pd.read_csv("bluegills.csv")
print("DataFrame from CSV:")
print(df)

DataFrame from CSV:
    age  length
0     1      67
1     1      62
2     2     109
3     2      83
4     2      91
..  ...     ...
73    6     170
74    4     160
75    5     180
76    4     160
77    4     170

[78 rows x 2 columns]

In [ ]:
#15 How do I write a Pandas DataFrame to a CSV file?
df.to_csv("output_file.csv", index=False)
print("DataFrame written to CSV file.")

DataFrame written to CSV file.

In [ ]:
#16 How do I convert a Pandas DataFrame to a JSON file?
df.to_json("output_file.json", orient='records')
print("DataFrame written to JSON file.")

DataFrame written to JSON file.

In [ ]:
#17 How do I apply a function to a column in a Pandas DataFrame?
df['length_squared'] = df['length'].apply(lambda x: x**2)
print("DataFrame with squared length column:")
print(df)

DataFrame with squared length column:
    age  length  length_squared
0     1      67            4489
1     1      62            3844
2     2     109           11881
3     2      83            6889
4     2      91            8281
..  ...     ...             ...
73    6     170           28900
74    4     160           25600
75    5     180           32400
76    4     160           25600
77    4     170           28900

[78 rows x 3 columns]

In [ ]:
#18 How do I drop a column from a Pandas DataFrame?
df.drop(columns=['length'], inplace=True)
print("DataFrame with 'length' column dropped:")
print(df)

DataFrame with 'length' column dropped:
    age  length_squared
0     1            4489
1     1            3844
2     2           11881
3     2            6889
4     2            8281
..  ...             ...
73    6           28900
74    4           25600
75    5           32400
76    4           25600
77    4           28900

[78 rows x 2 columns]

In [ ]:
#19 How do I change the datatype of a column in a Pandas DataFrame?
df['age'] = df['age'].astype(float)
print("DataFrame with 'age' column datatype changed:")
print(df)

DataFrame with 'age' column datatype changed:
    age  length_squared
0   1.0            4489
1   1.0            3844
2   2.0           11881
3   2.0            6889
4   2.0            8281
..  ...             ...
73  6.0           28900
74  4.0           25600
75  5.0           32400
76  4.0           25600
77  4.0           28900

[78 rows x 2 columns]

In [ ]:
#20 How do I find the unique values in a column of a Pandas DataFrame?
unique_values = df['age'].unique()
print("Unique values in the 'age' column:")
print(unique_values)

Unique values in the 'age' column:
[1. 2. 3. 4. 5. 6.]

In [ ]:
#21 How do I select the first n rows from a Pandas DataFrame?
first_n_rows = df.head(5)
print("First 5 rows:")
print(first_n_rows)

First 5 rows:
   age  length_squared
0  1.0            4489
1  1.0            3844
2  2.0           11881
3  2.0            6889
4  2.0            8281

In [ ]:
#22 How do I reset the index of a Pandas DataFrame?
df_reset_index = df.reset_index(drop=True)
print("DataFrame with reset index:")
print(df_reset_index)

DataFrame with reset index:
    age  length_squared
0   1.0            4489
1   1.0            3844
2   2.0           11881
3   2.0            6889
4   2.0            8281
..  ...             ...
73  6.0           28900
74  4.0           25600
75  5.0           32400
76  4.0           25600
77  4.0           28900

[78 rows x 2 columns]

In [ ]:
#23 How do I slice a Pandas DataFrame by row?
sliced_rows = df.iloc[3:8]
print("Sliced DataFrame:")
print(sliced_rows)

Sliced DataFrame:
   age  length_squared
3  2.0            6889
4  2.0            8281
5  2.0            7744
6  3.0           18769
7  3.0           17161

In [ ]:
#24 How do I select the last n rows from a Pandas DataFrame?
last_n_rows = df.tail(5)
print("Last 5 rows:")
print(last_n_rows)

Last 5 rows:
    age  length_squared
73  6.0           28900
74  4.0           25600
75  5.0           32400
76  4.0           25600
77  4.0           28900

In [ ]:
#25 How do I select a random sample of rows from a Pandas DataFrame?
random_sample = df.sample(n=5)
print("Random sample of 5 rows:")
print(random_sample)

Random sample of 5 rows:
    age  length_squared
45  3.0           19600
47  3.0           22500
8   3.0           14884
18  4.0           18225
62  4.0           22500

In [ ]:
#26 How do I create a pivot table in Pandas?
pivot_table = df.pivot_table(index='age', columns='length_squared', values='length_squared', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Pivot Table:
Empty DataFrame
Columns: []
Index: [1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [ ]:
#27 How do I concatenate two Pandas DataFrames?
concatenated_df = pd.concat([df1, df2], ignore_index=True)
print("Concatenated DataFrame:")
print(concatenated_df)

Concatenated DataFrame:
   age  height_df1  height_df2
0    1        67.0         NaN
1    2       109.0         NaN
2    3       137.0         NaN
3    4       138.0         NaN
4    5       171.0         NaN
5    1         NaN        62.0
6    2         NaN        83.0
7    3         NaN       122.0
8    4         NaN       150.0
9    5         NaN       180.0

In [ ]:
#28 How do I create a copy of a Pandas DataFrame?
df_copy = df.copy()
print("Copy of DataFrame:")
print(df_copy)

Copy of DataFrame:
    age  length_squared
0   1.0            4489
1   1.0            3844
2   2.0           11881
3   2.0            6889
4   2.0            8281
..  ...             ...
73  6.0           28900
74  4.0           25600
75  5.0           32400
76  4.0           25600
77  4.0           28900

[78 rows x 2 columns]

In [ ]:
#29 How do I drop rows with NaN values in a Pandas DataFrame?
df_without_nan = df.dropna()
print("DataFrame without NaN values:")
print(df_without_nan)

DataFrame without NaN values:
    age  length_squared
0   1.0            4489
1   1.0            3844
2   2.0           11881
3   2.0            6889
4   2.0            8281
..  ...             ...
73  6.0           28900
74  4.0           25600
75  5.0           32400
76  4.0           25600
77  4.0           28900

[78 rows x 2 columns]

In [ ]:
#30 How do I fill in missing values in a Pandas DataFrame?
df['length_squared'].fillna(df['length_squared'].mean(), inplace=True)
print("DataFrame with missing values filled:")
print(df)

DataFrame with missing values filled:
    age  length_squared
0   1.0            4489
1   1.0            3844
2   2.0           11881
3   2.0            6889
4   2.0            8281
..  ...             ...
73  6.0           28900
74  4.0           25600
75  5.0           32400
76  4.0           25600
77  4.0           28900

[78 rows x 2 columns]

In [ ]:
#31 How do I perform a shift operation on a column in a Pandas DataFrame?
df['shifted_length'] = df['length_squared'].shift(1)
print("DataFrame with shifted 'length' column:")
print(df)

DataFrame with shifted 'length' column:
    age  length_squared  shifted_length
0   1.0            4489             NaN
1   1.0            3844          4489.0
2   2.0           11881          3844.0
3   2.0            6889         11881.0
4   2.0            8281          6889.0
..  ...             ...             ...
73  6.0           28900         28900.0
74  4.0           25600         28900.0
75  5.0           32400         25600.0
76  4.0           25600         32400.0
77  4.0           28900         25600.0

[78 rows x 3 columns]

In [ ]:
#32 How do I perform a cumulative product operation on a column in a Pandas DataFrame?
df['cumulative_product'] = df['length_squared'].cumprod()
print("DataFrame with cumulative product column:")
print(df)

DataFrame with cumulative product column:
    age  length_squared  shifted_length   cumulative_product
0   1.0            4489             NaN                 4489
1   1.0            3844          4489.0             17255716
2   2.0           11881          3844.0         205015161796
3   2.0            6889         11881.0     1412349449612644
4   2.0            8281          6889.0 -6751078281467246652
..  ...             ...             ...                  ...
73  6.0           28900         28900.0                    0
74  4.0           25600         28900.0                    0
75  5.0           32400         25600.0                    0
76  4.0           25600         32400.0                    0
77  4.0           28900         25600.0                    0

[78 rows x 4 columns]

In [ ]:
#33 How do I perform a cumulative maximum operation on a column in a Pandas DataFrame?
df['cumulative_max'] = df['length_squared'].cummax()
print("DataFrame with cumulative maximum column:")
print(df)

DataFrame with cumulative maximum column:
    age  length_squared  shifted_length   cumulative_product  cumulative_max
0   1.0            4489             NaN                 4489            4489
1   1.0            3844          4489.0             17255716            4489
2   2.0           11881          3844.0         205015161796           11881
3   2.0            6889         11881.0     1412349449612644           11881
4   2.0            8281          6889.0 -6751078281467246652           11881
..  ...             ...             ...                  ...             ...
73  6.0           28900         28900.0                    0           35344
74  4.0           25600         28900.0                    0           35344
75  5.0           32400         25600.0                    0           35344
76  4.0           25600         32400.0                    0           35344
77  4.0           28900         25600.0                    0           35344

[78 rows x 5 columns]

In [ ]:
#34 How do I calculate the moving average of a column in a Pandas DataFrame?
df['moving_average'] = df['length_squared'].rolling(window=3).mean()
print("DataFrame with moving average column:")
print(df)

DataFrame with moving average column:
    age  length_squared  shifted_length   cumulative_product  cumulative_max  \
0   1.0            4489             NaN                 4489            4489
1   1.0            3844          4489.0             17255716            4489
2   2.0           11881          3844.0         205015161796           11881
3   2.0            6889         11881.0     1412349449612644           11881
4   2.0            8281          6889.0 -6751078281467246652           11881
..  ...             ...             ...                  ...             ...
73  6.0           28900         28900.0                    0           35344
74  4.0           25600         28900.0                    0           35344
75  5.0           32400         25600.0                    0           35344
76  4.0           25600         32400.0                    0           35344
77  4.0           28900         25600.0                    0           35344

    moving_average
0              NaN
1              NaN
2      6738.000000
3      7538.000000
4      9017.000000
..             ...
73    24900.000000
74    27800.000000
75    28966.666667
76    27866.666667
77    28966.666667

[78 rows x 6 columns]

In [ ]:
#35 How do I calculate the exponential moving average of a column in a Pandas DataFrame?df['exponential_moving_average'] = df['length_squared'].ewm(alpha=0.5).mean()
print("DataFrame with exponential moving average column:")
print(df)

DataFrame with exponential moving average column:
    age  length_squared  shifted_length   cumulative_product  cumulative_max  \
0   1.0            4489             NaN                 4489            4489
1   1.0            3844          4489.0             17255716            4489
2   2.0           11881          3844.0         205015161796           11881
3   2.0            6889         11881.0     1412349449612644           11881
4   2.0            8281          6889.0 -6751078281467246652           11881
..  ...             ...             ...                  ...             ...
73  6.0           28900         28900.0                    0           35344
74  4.0           25600         28900.0                    0           35344
75  5.0           32400         25600.0                    0           35344
76  4.0           25600         32400.0                    0           35344
77  4.0           28900         25600.0                    0           35344

    moving_average  exponential_moving_average
0              NaN                 4489.000000
1              NaN                 4059.000000
2      6738.000000                 8528.714286
3      7538.000000                 7654.200000
4      9017.000000                 7977.709677
..             ...                         ...
73    24900.000000                26656.824829
74    27800.000000                26128.412415
75    28966.666667                29264.206207
76    27866.666667                27432.103104
77    28966.666667                28166.051552

[78 rows x 7 columns]

In [ ]:
#36 How do I calculate the cumulative minimum operation on a column in a Pandas DataFrame?
df['cumulative_min'] = df['length_squared'].cummin()
print("DataFrame with cumulative minimum column:")
print(df)

DataFrame with cumulative minimum column:
    age  length_squared  shifted_length   cumulative_product  cumulative_max  \
0   1.0            4489             NaN                 4489            4489
1   1.0            3844          4489.0             17255716            4489
2   2.0           11881          3844.0         205015161796           11881
3   2.0            6889         11881.0     1412349449612644           11881
4   2.0            8281          6889.0 -6751078281467246652           11881
..  ...             ...             ...                  ...             ...
73  6.0           28900         28900.0                    0           35344
74  4.0           25600         28900.0                    0           35344
75  5.0           32400         25600.0                    0           35344
76  4.0           25600         32400.0                    0           35344
77  4.0           28900         25600.0                    0           35344

    moving_average  exponential_moving_average  cumulative_min
0              NaN                 4489.000000            4489
1              NaN                 4059.000000            3844
2      6738.000000                 8528.714286            3844
3      7538.000000                 7654.200000            3844
4      9017.000000                 7977.709677            3844
..             ...                         ...             ...
73    24900.000000                26656.824829            3844
74    27800.000000                26128.412415            3844
75    28966.666667                29264.206207            3844
76    27866.666667                27432.103104            3844
77    28966.666667                28166.051552            3844

[78 rows x 8 columns]