In [1]:
newlists = ["apple", "orange", "banana"]
print(type(newlists))

<class 'list'>

In [2]:
list1 = ["man", 45, True, 56, "male"]
print(len(list1))

5

In [4]:
fruit = list(("apple", "orange", "banana"))
print(fruit)

['apple', 'orange', 'banana']

In [7]:
list1 = ["apple", "orange", "banana"]
print(list1[-2])

orange

In [8]:
list2 = ["apple", "orange", "banana", "mango", "cherry", "kiwi", "melon"]
if "mango" in list2:
    print("yes")

yes

In [9]:
list1 = ["apple", "orange", "banana"]
list1[1] = "kiwi"
print(list1)

['apple', 'kiwi', 'banana']

In [14]:
list2 = ["apple", "orange", "banana", "mango", "cherry", "kiwi", "melon"]
#List2[1:3] = ["brinjal", "tomato"]
print(list2[2:5])

['banana', 'mango', 'cherry']

In [15]:
list1 = ["apple", "orange", "banana"]
list1[1:2] = ["aaa", "bbb"]
print(list1)

['apple', 'aaa', 'bbb', 'banana']

In [16]:
list1 = ["apple", "orange", "banana"]
list1.insert(2, "berry")
print(list1)

['apple', 'orange', 'berry', 'banana']

In [17]:
list1 = ["apple", "orange", "banana"]
list1[2] = "berry"
print(list1)

['apple', 'orange', 'berry']

In [18]:
list1 = ["apple", "orange", "banana"]
list1.append("cherry")
print(list1)

['apple', 'orange', 'banana', 'cherry']

In [19]:
list1 = ["apple", "orange", "banana"]
#List2 = ["aaa", "bbb", "ccc"]
tuple1 = ("mango", "cherry")
list1.extend(tuple1)
#List1.extend(List2)
print(list1)

['apple', 'orange', 'banana', 'mango', 'cherry']

In [20]:
list1 = ["apple", "orange", "orange", "banana"]
list1.remove("orange")
print(list1)

['apple', 'orange', 'banana']

In [21]:
list1 = ["apple", "orange", "banana"]
list1.pop(1)
print(list1)

['apple', 'banana']

In [22]:
list1 = ["apple", "orange", "banana"]
list1.clear()
print(list1)

[]

In [23]:
list1 = ["apple", "orange", "banana"]
for x in list1:
    print(x)

apple
orange
banana

In [25]:
list1 = ["apple", "orange", "banana"]
for i in range (len(list1)):
    print(list1[i])

apple
orange
banana

In [29]:
list1 = ["apple", "orange", "banana"]
i = 0
while i < len(list1):
    print(list1)
    i = i + 1

['apple', 'orange', 'banana']
['apple', 'orange', 'banana']
['apple', 'orange', 'banana']

In [30]:
list1 = ["apple", "orange", "banana"]
[print(x) for x in list1]

apple
orange
banana

[None, None, None]

In [31]:
list1 = ["apple", "orange", "banana"]
list1.reverse()
print(list1)

['banana', 'orange', 'apple']

In [35]:
list1 = ["apple", "orange", "banana"]
list2 = list1
print(list2)
print(list1)

['apple', 'orange', 'banana']
['apple', 'orange', 'banana']

In [34]:
list1 = ["apple", "orange", "banana"]
list2 = ["mango", "kiwi"]
list3 = list1 + list2
print(list3)

['apple', 'orange', 'banana', 'mango', 'kiwi']

In [36]:
thisList = ["apple", "orange", "banana"]
print(len(thisList))

3

In [37]:
list1 = ["apple", "orange", "banana"]
print(list1[-2])

orange

In [38]:
list2 = ["apple", "orange", "banana", "mango", "cherry", "kiwi", "melon"]
list2.sort()
print(list2)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon', 'orange']

In [39]:
#List Comprehension
list5 = [x for x in range(1,11)]
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
list2 = ["apple", "orange", "banana", "mango", "cherry", "kiwi", "melon"]
del list2[3]
print(list2)

['apple', 'orange', 'banana', 'cherry', 'kiwi', 'melon']

# Question 1
Wap to create a list and display it, perform append and delete operation and display list.

In [42]:
list1 = ["Utkrist", "Jaiswal", 21051526]
print(list1)
list1.append(22)
print(list1)
del list1[3]
print(list1)

['Utkrist', 'Jaiswal', 21051526]
['Utkrist', 'Jaiswal', 21051526, 22]
['Utkrist', 'Jaiswal', 21051526]

# Question 2
WAP to create a list and display it, perform adding on element at particular position and delete at a particular position and siplay the updated list.

In [46]:
list1 = ["Utkrist", "Jaiswal", 21051526]
print(list1)
list1.insert(3, "CSE36")
print(list1)
del list1[3]
print(list1)

['Utkrist', 'Jaiswal', 21051526]
['Utkrist', 'Jaiswal', 21051526, 'CSE36']
['Utkrist', 'Jaiswal', 21051526]

# Question 3
WAP to create a list and display it, delete all occurances at a particular number and diplay the updated list

In [54]:
list1 = ["Utkrist", "Jaiswal", 22, 21051526, "CSE36"]
print(list1)
i = 0
while i < len(list1):
    if list1[i] == 22:
        list1.remove(22)
        print(list1)
    i += 1

['Utkrist', 'Jaiswal', 22, 21051526, 'CSE36']
['Utkrist', 'Jaiswal', 21051526, 'CSE36']

# Question 4
WAP to create a list and display it, store unique number in another list and display new list.

In [71]:
list1 = ["Utkrist", "Jaiswal", 22, 21051526, "CSE36", 22, 21051526, "CSE36"]
print(list1)
list2 = []
for str in list1:
    if str not in list2:
        list2.append(str)
print(list2)

['Utkrist', 'Jaiswal', 22, 21051526, 'CSE36', 22, 21051526, 'CSE36']
['Utkrist', 'Jaiswal', 22, 21051526, 'CSE36']

# Question 5
WAP to create a list and display it, delete falsy values, and display updated list.

In [89]:
list1 = ["Utkrist", "Jaiswal", 22, 21051526, "CSE36", 22, 21051526, "CSE36", ""]
print(list1)
list2 = list(filter(lambda x: x == "Utkrist", list1))
print(list2)

['Utkrist', 'Jaiswal', 22, 21051526, 'CSE36', 22, 21051526, 'CSE36', '']
['Utkrist']

# Question 6
Python program to interchange first and last elements in a list

In [92]:
list1 = ["Utkrist", "Jaiswal", 22, 21051526, "CSE36"]
i = len(list1) - 1
j = 0
temp = list1[i]
list1[i] = list1[j]
list1[j] = temp
print(list1)

['CSE36', 'Jaiswal', 22, 21051526, 'Utkrist']

# Question 7
Python program to swap two elements in a list

In [113]:
def swapp(x, y):
    temp = x
    x = y
    y = temp
    return x, y
    
list1 = [1,2,3,4,5,6]
n = int(input("Enter Element to swap: "))
k = int(input("Enter Element to swap with: "))

list1[n], list1[k] = swapp(list1[n], list1[k])
print(list1)

[1, 4, 3, 2, 5, 6]

# Question 8
Swap elements in String list.

In [123]:
def swapp(x, y):
    temp = x
    x = y
    y = temp
    return x, y
    
list1 = ["Utkrist", "Jaiswal", "CSE36"]
n = int(input("Enter Element to swap: "))
k = int(input("Enter Element to swap with: "))

list1[n], list1[k] = swapp(list1[n], list1[k])
print(list1)

['Jaiswal', 'Utkrist', 'CSE36']

# Question 9
Maximum of 2 numbers

In [114]:
num1 = int(input("enter Number 1: "))
num2 = int(input("Enter Number 2: "))

if num1 > num2:
    print("Element is greater: ", num1)
else:
    print("Element is greater: ", num2)

Element is greater:  3

# Question 10
Python program to check if element exists in a list.

In [122]:
list1 = [1,2,3,4,5]
x = 5
if x == list1[i]:
    print("Element exits")

Element exits

# Question 11
Python program to Reversing a List

In [124]:
list1 = [1,2,3,4,5]
list1.reverse()
print(list1)

[5, 4, 3, 2, 1]

# Question 12
Count occurrences of an element in a list.

In [127]:
list1 = [1,2,3,3,4,3,3,5,1,2,7,8,9,0]
n = int(input("Enter element: "))
count = 0
for i in range (len(list1)):
    if n == list1[i]:
        count += 1

print(count)

4

# Question 13
Python program to find second largest number in a list.

In [130]:
list1 = [1,2,3,4,5,2,3,7,1,9]
list1.sort()
print(list1)
list1.reverse()
print(list1)
print("Second Largest number: ", list1[1])

[1, 1, 2, 2, 3, 3, 4, 5, 7, 9]
[9, 7, 5, 4, 3, 3, 2, 2, 1, 1]
Second Largest number:  7

# Question 14
Python program to count Even and Odd numbers in a List.

In [135]:
def oddEven(list1):
    evenCount = 0
    oddCount = 0
    
    for num in list1:
        if num % 2 == 0:
            evenCount += 1
        else:
            oddCount += 1
    return evenCount, oddCount

list1 = [1,2,3,4,5,6]

evenCount, oddCount = oddEven(list1)
print("Even Count: ", evenCount)
print("Odd Count: ", oddCount)

Even Count:  3
Odd Count:  3

# Question 15
Python program to count positive and negative numbers in a list.

In [136]:
def counting(list1):
    posCount = 0;
    negCount = 0
    zeroes = 0
    
    for num in list1:
        if num > 0:
            posCount += 1
        elif num < 0:
            negCount += 1
        elif num == 0:
            zeroes += 1
            
    return posCount, negCount, zeroes

list1 = [0,1,2,3,4,5,6,-1,-9,0,-8]

posCount, negCount, zeroes = counting(list1)

print("Positive: ", posCount)
print("Negative: ", negCount)
print("Zeroes: ", zeroes)

Positive:  6
Negative:  3
Zeroes:  2

# Question 16
Remove multiple elements from a list in Python.

In [137]:
list1 = [1,2,3,4,5,1,2,3]
for str in list1:
    if str in list1:
        list1.remove(str)

print(list1)

[4, 1, 2, 3]

# Question 17
Program to print duplicates from a list of integers.

In [138]:
list1 = [2,1,0,5,1,5,2,3,6,3,4,1,2,8]
print(list1)
seen = set()
duplicates = set()
for element in list1:
    if element in seen:
        duplicates.add(element)
    seen.add(element)
print("Duplicate elements:", duplicates)

[2, 1, 0, 5, 1, 5, 2, 3, 6, 3, 4, 1, 2, 8]
Duplicate elements: {1, 2, 3, 5}