# Pattern 1

In [1]:
for i in range(5):
    for j in range(5):
        print("*", end="")
    print()

*****
*****
*****
*****
*****

# Pattern 2

In [2]:
inc = 1
for i in range(5):
    for j in range(5):
        print(inc, end="")
    print()
    inc = inc + 1

11111
22222
33333
44444
55555

# Pattern 3

In [4]:
inc = 1
for i in range(5):
    for j in range(5):
        print(inc, end="")
        inc = inc + 1
    print()
    inc = 1

12345
12345
12345
12345
12345

# Pattern 4

In [5]:
inc = 5
for i in range(5):
    for j in range(5):
        print(inc, end="")
    print()
    inc = inc - 1

55555
44444
33333
22222
11111

# Pattern 5

In [13]:
inc = 65
for i in range(5):
    for j in range(5):
        print(chr(inc), end="")
    print()
    inc = inc + 1

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

# Pattern 6

In [14]:
inc = 69
for i in range(5):
    for j in range(5):
        print(chr(inc), end="")
    print()
    inc -= 1

EEEEE
DDDDD
CCCCC
BBBBB
AAAAA

# Pattern 7

In [17]:
for i in range(6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

# Pattern 8

In [28]:
inc = 0
for i in range(6):
    for j in range(i):
        print(inc, end="")
    print()
    inc = inc + 1

1
22
333
4444
55555

# Pattern 9

In [31]:
inc = 1
for i in range(6):
    for j in range(i):
        print(inc, end="")
        inc += 1
    print()
    inc = 1

1
12
123
1234
12345

# Pattern 10

In [35]:
inc = 64
for i in range(6):
    for j in range(i):
        print(chr(inc), end="")
    print()
    inc = inc + 1

A
BB
CCC
DDDD
EEEEE

# Pattern 11

In [39]:
inc = 65
for i in range(6):
    for j in range(i):
        print(chr(inc), end="")
        inc = inc + 1
    print()
    inc = 65

A
AB
ABC
ABCD
ABCDE

# Pattern 12

In [40]:
word = "PRABHU"
for i in range(1, len(word) + 1):
    for j in range(1, i + 1):
        print(word[j-1], end="")
    print()

P
PR
PRA
PRAB
PRABH
PRABHU

# Pattern 13

In [42]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print("*", end="")
    print()

*****
****
***
**
*

# Pattern 14

In [43]:
inc = 1
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(inc, end="")
    print()
    inc += 1

11111
2222
333
44
5

# Pattern 15

In [44]:
inc = 1
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(inc, end="")
        inc = inc + 1
    print()
    inc = 1

12345
1234
123
12
1

# Pattern 16

In [45]:
inc = 65
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(chr(inc), end="")
    print()
    inc += 1

AAAAA
BBBB
CCC
DD
E

# Pattern 17

In [46]:
inc = 65
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(chr(inc), end="")
        inc = inc + 1
    print()
    inc = 65

ABCDE
ABCD
ABC
AB
A

# Pattern 18

In [47]:
inc = 69
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(chr(inc), end="")
    print()
    inc -= 1

EEEEE
DDDD
CCC
BB
A

# Pattern 19

In [48]:
inc = 69
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(chr(inc), end="")
        inc -= 1
    print()
    inc = 69

EDCBA
EDCB
EDC
ED
E

# Pattern 20

In [62]:
word = "PRABHU"
for i in range(len(word), 0, -1):
        print(word[:i])
print()

PRABHU
PRABH
PRAB
PRA
PR
P

# Pattern 21

In [65]:
rows = 5
for i in range(1, rows + 1):
    for j in range(rows, i, -1):
        print(" ", end="")
    for k in range(1, i + 1):
        print("*", end="")
    print()

    *
   **
  ***
 ****
*****

# Pattern 22

In [67]:
rows = 5
a = 1
for i in range(1, rows + 1):
    for j in range(rows, i, -1):
        print(" ", end="")
    for k in range(1, i + 1):
        print(a, end="")
    print()
    a = a + 1

    1
   22
  333
 4444
55555

# Pattern 23

In [68]:
rows = 5
a = 1
for i in range(1, rows + 1):
    for j in range(rows, i, -1):
        print(" ", end="")
    for k in range(1, i + 1):
        print(a, end="")
        a = a + 1
    print()
    a = 1

    1
   12
  123
 1234
12345

# Pattern 24

In [70]:
rows = 5
a = 65
for i in range(1, rows + 1):
    for j in range(rows, i, -1):
        print(" ", end="")
    for k in range(1, i + 1):
        print(chr(a), end="")
        a = a + 1
    print()
    a = 65

    A
   AB
  ABC
 ABCD
ABCDE

# Pattern 25

In [72]:
rows = 5
a = 65
for i in range(1, rows + 1):
    for j in range(rows, i, -1):
        print(" ", end="")
    for k in range(1, i + 1):
        print(chr(a), end="")
    print()
    a = a + 1

    A
   BB
  CCC
 DDDD
EEEEE

# Pattern 26

In [73]:
a = "PRABHU"
rows = len(a)
for i in range(rows):
    for j in range(rows - 1, i, -1):
        print(" ", end="")
    for k in range(i + 1):
        print(word[k], end="")
    print()

     P
    PR
   PRA
  PRAB
 PRABH
PRABHU

# Pattern 27

In [74]:
rows = 5
for i in range(rows):
    for j in range(i):
        print(" ", end="")
    for k in range(rows - i):
        print("*", end="")
    print()

*****
 ****
  ***
   **
    *

# Pattern 28

In [75]:
rows = 5
a = 5
for i in range(rows):
    for j in range(i):
        print(" ", end="")
    for k in range(rows - i):
        print(a, end="")
    print()
    a = a - 1

55555
 4444
  333
   22
    1

# Pattern 29

In [77]:
rows = 5
a = 1
for i in range(rows):
    for j in range(i):
        print(" ", end="")
    for k in range(rows - i):
        print(a, end="")
        a = a + 1
    print()
    a = 1

12345
 1234
  123
   12
    1

# Pattern 30

In [78]:
rows = 5
a = 69
for i in range(rows):
    for j in range(i):
        print(" ", end="")
    for k in range(rows-i):
        print(chr(a), end="")
    print()
    a = a - 1

EEEEE
 DDDD
  CCC
   BB
    A

# Pattern 31

In [79]:
rows = 5
a = 65
for i in range(rows):
    for j in range(i):
        print(" ", end="")
    for k in range(rows-i):
        print(chr(a), end="")
        a = a + 1
    print()
    a = 65

ABCDE
 ABCD
  ABC
   AB
    A

# Pattern 32

In [80]:
rows = 5
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

# Pattern 33

In [81]:
rows = 5
a = 1
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print(a, end="")
    print()
    a = a + 1

    1
   222
  33333
 4444444
555555555

# Pattern 34

In [82]:
rows = 5
a = 1
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print(a, end="")
    print()
    a = a + 2

    1
   333
  55555
 7777777
999999999

# Pattern 35

In [83]:
rows = 5
a = 1
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print(a, end="")
        a = a + 1
    print()
    a = 1

    1
   123
  12345
 1234567
123456789

# Pattern 36

In [88]:
k = 1
for i in range(1, 6):
    for j in range(5 - i):
        print(" ", end="")
    for k in range(2*i - 1, 0, -1):
        print(k, end="")
    print()

    1
   321
  54321
 7654321
987654321

# Pattern 37

In [85]:
rows = 5
a = 65
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print(chr(a), end="")
    print()
    a = a + 1

    A
   BBB
  CCCCC
 DDDDDDD
EEEEEEEEE

# Pattern 38

In [89]:
rows = 5
a = 65
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print(chr(a), end="")
    print()
    a = a + 2

    A
   CCC
  EEEEE
 GGGGGGG
IIIIIIIII

# Pattern 39

In [90]:
rows = 5
a = 65
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print(chr(a), end="")
        a = a + 1
    print()
    a = 65

    A
   ABC
  ABCDE
 ABCDEFG
ABCDEFGHI

# Pattern 40

In [96]:
for i in range(1, 6):
    for j in range(5 - i):
        print(" ", end="")
    for k in range(65 + 2*i - 2, 64, -1):
        print(chr(k), end="")
    print()

    A
   CBA
  EDCBA
 GFEDCBA
IHGFEDCBA

# Pattern 41

In [100]:
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print("*", end="")
    print()
    
for i in range(rows-1, 0 , -1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*

# Pattern 42

In [101]:
word = "PRABHU"
length = len(word)

for i in range(1, length + 1):
    print(word[:i])
for i in range(length - 1, 0, -1):
    print(word[:i])

P
PR
PRA
PRAB
PRABH
PRABHU
PRABH
PRAB
PRA
PR
P

# Pattern 43

In [102]:
rows = 5
for i in range(rows):
    for j in range(rows - i):
        print("*", end="")
    for k in range(2 * i):
        print(" ", end="")
    for l in range(rows - i):
        print("*", end="")
    print()

**********
****  ****
***    ***
**      **
*        *

# Pattern 44

In [103]:
rows = 5
for i in range(rows):
    for j in range(i + 1):
        print("*", end="")
    for k in range(2 * (rows - i - 1)):
        print(" ", end="")
    for l in range(i + 1):
        print("*", end="")
    print()

*        *
**      **
***    ***
****  ****
**********

# Pattern 45

In [104]:
rows = 5
for i in range(rows):
    for j in range(rows - i):
        print("*", end="")
    for k in range(2 * i):
        print(" ", end="")
    for l in range(rows - i):
        print("*", end="")
    print()

for i in range(rows):
    for j in range(i + 1):
        print("*", end="")
    for k in range(2 * (rows - i - 1)):
        print(" ", end="")
    for l in range(i + 1):
        print("*", end="")
    print()

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********